@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('./styles/themes.css');

/* Key frames */
@keyframes toastProgress {
    from {
        transform: scaleX(1);
    }

    to {
        transform: scaleX(0);
    }
}

/* Font size adjustment */
html {
    font-size: var(--app-font-size);
}