@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes toastProgress {
    from {
        transform: scaleX(1);
    }

    to {
        transform: scaleX(0);
    }
}

:root {
    /* Typography */
    --app-font-size: 16px;
    --font-family: "Inter", sans-serif;
}

html {
    font-size: var(--app-font-size);
}